/*General*/
.total-container {
    display: grid;
    grid-template-rows: 0.5fr 12fr 0.8fr;
}

.main-container {
    display: grid;
    height: 100%;
    grid-template-columns: 0.5fr 4fr 2fr;
    /*border-top: 2px solid black;*/

}

div h3 {
    text-align: center;
}

.demo-cameras {
    /*border-right: 2px solid black;*/
    padding: 0 15px 0 15px;
    position: relative;
}

.list-cameras {
    /*border-left: 2px solid black;*/
    padding: 0 15px 0 15px;
    position: relative;
}

/* Join dialog */
#join-dialog {
    max-width: 40%;
    padding: 30px 40px 30px 40px;
}
#join-dialog h1 {
    margin: 10px 0 30px 0;
}
.jumbotron h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 55px;
    color: #1d1a1a;
}

.form-control input {
    background-color: #dee2e6 !important;
}

