<div *ngIf="logged; else login">

    <div *ngIf="!correctSession" id="join">
        <div class="total-container">
            <app-header [logged]="true"></app-header>
            <div id="main-container" class="container">
                <div class="img-div"><img src="assets/images/openvidu_grey_bg_transp_cropped.png" alt="Openvidu logo"/>
                </div>
                <alert></alert>

                <div id="join-dialog" class="jumbotron vertical-center-main">
                    <h1>Surveillance<br> session</h1>
                    <form class="form-group" (submit)="joinSession()">
                        <p>
                            <label>Enter a session name</label>
                            <label for="sessionId"></label><input class="form-control" type="text" id="sessionId"
                                                                  name="sessionId" [(ngModel)]="mySessionId"
                                                                  required autofocus>
                        </p>
                        <p class="text-center">
                            <input class="btn btn-lg btn-success" type="submit" name="commit" value="Join!">
                        </p>
                    </form>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>

    <div *ngIf="correctSession">
        <div class="total-container">
            <app-header [session]="true" (settingsOn)="toSettings()"
                        (activeSession)="logOut($event)" [logged]="true"></app-header>
            <div class="demo-cameras" *ngIf="headerSettingsOn; else mainScreen">
                <app-administration-panel [sessionId]="mySessionId" [subscribers]="subscribers"></app-administration-panel>
            </div>

            <ng-template #mainScreen>
                <div class="main-container">
                    <div class="main-camera">
                        <alert (settingsOn)="toSettings()" [firstTime]="firstTime"></alert>
                        <app-main-camera [mainStreamManager]="cameraService.mainStreamManager"
                                         [sessionName]="mySessionId"></app-main-camera>
                    </div>
                    <div class="list-cameras">
                        <app-session-cameras [subscribers]="subscribers"
                                             [sessionId]="mySessionId"></app-session-cameras>
                    </div>
                </div>
            </ng-template>
            <app-footer></app-footer>
        </div>
    </div>

</div>

<ng-template #login>
    <div class="total-container">
        <app-header [logged]="false"></app-header>
        <div id="login-container" class="container">
            <div class="img-div"><img src="assets/images/openvidu_grey_bg_transp_cropped.png" alt="Openvidu logo"/>
            </div>
            <alert></alert>

            <div id="login-dialog" class="jumbotron vertical-center-main">
                <h1>OpenVidu<br>Surveillance</h1>
                <form class="form-group" (submit)="authenticate()">
                    <p>
                        <label>Username</label>
                        <label for="userName"></label><input class="form-control" type="text" id="userName"
                                                             name="sessionId" [(ngModel)]="userName"
                                                             required>
                        <label>Password</label>
                        <label for="password"></label><input class="form-control" type="password" id="password"
                                                             name="sessionId" [(ngModel)]="password"
                                                             required>
                    </p>
                    <p class="text-center">
                        <input class="btn btn-lg btn-success" type="submit" name="commit" value="Login">
                    </p>
                </form>
            </div>
        </div>
        <app-footer></app-footer>
    </div>

</ng-template>
