<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title></title>
</head>
<div *ngIf="mainStreamManager" id="main-video">
    <user-video mainCamera="true" [cameraName]="cameraService.mainStreamManager.stream.connection.data"
                [streamManager]="cameraService.mainStreamManager"></user-video>
</div>

<div *ngIf="ptz" class="ptzControls">
    <span class="material-icons " (click)="move('left')">
        arrow_back
    </span>
    <span class="material-icons" (click)="move('down')">
        arrow_downward
    </span>
    <span class="material-icons" (click)="move('up')">
        arrow_upward
    </span>
    <span class="material-icons" (click)="move('right')">
        arrow_forward
    </span>
</div>


