<alert></alert>
<h3>Administration panel</h3>
<div class="grid">
    <div id="up-grid">
        <div class="configuration-box">
            <h4>Local camera configuration</h4>
            <div *ngIf="devices; else noLocalCameras">
                <mat-form-field>
                    <mat-label>Select an option</mat-label>
                    <mat-select [(value)]="selectedDevice">
                        <mat-option *ngFor="let device of devices" [value]="device.url">{{device.url}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="selectedDevice">
                    <button class="btn btn-lg btn-success" (click)="cameraService.publishIpCamera(sessionId,
'rtsp://admin:admin@' + selectedDevice + '/11',selectedDevice,true,
true)">Add selected camera
                    </button>
                </div>
            </div>
            <ng-template #noLocalCameras>
<!--                Botón para descubrir cámaras-->
                <p> No local cameras available at this moment </p>
            </ng-template>
        </div>
        <div class="configuration-box">
            <h4>Delete cameras</h4>
            <mat-form-field>
                <mat-label>Select an option</mat-label>
                <mat-select [(value)]="cameraToDelete">
                    <mat-option *ngFor="let subscriber of subscribers" [value]="subscriber.stream.connection.data">
                        {{subscriber.stream.connection.data}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <div *ngIf="cameraToDelete">
                <button class="btn btn-lg btn-success" (click)="deleteDialogDisplay()">Delete selected camera</button>
            </div>
        </div>
    </div>
    <div class="configuration-box new-camera">
        <h4>Add new camera</h4>
        <mat-form-field>
            <mat-label>Custom camera name</mat-label>
            <input matInput type="text" [(ngModel)]="cameraName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Camera URL</mat-label>
            <input matInput type="text" [(ngModel)]="cameraUrl">
        </mat-form-field>
        <button class="btn btn-lg btn-success" (click)="cameraService.publishIpCamera(sessionId,
            cameraUrl,cameraName,true,
            true)">Add selected camera
        </button>
        <!--        This form is for local cameras-->
        <!--        <mat-form-field>-->
        <!--            <mat-label>Enter camera user</mat-label>-->
        <!--            <input matInput type="text">-->
        <!--        </mat-form-field>-->

        <!--        <mat-form-field>-->
        <!--            <mat-label>Enter camera password</mat-label>-->
        <!--            <input matInput [type]="hide ? 'password' : 'text'">-->
        <!--            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"-->
        <!--                    [attr.aria-pressed]="hide">-->
        <!--                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
        <!--            </button>-->
        <!--        </mat-form-field>-->

        <!--        <mat-form-field>-->
        <!--            <mat-label>Enter camera port</mat-label>-->
        <!--            <input matInput type="number">-->
        <!--        </mat-form-field>-->
    </div>
</div>
<button (click)="cameraService.publishDemoCameras(sessionId)" class="addCameraButton btn btn-lg btn-success">
    Add demo cameras
</button>
