<alert></alert>
<h1>Administration panel</h1>

<div id="up-grid">
    <div class="configuration-box" id="localCameras">
        <h4>Local cameras</h4>
        <div *ngIf="cameraService.availableIpCameras
            ; else noCamerasLocal">
            <!--                <div *ngIf="cameraService.availableIpCameras.length>0; else noCamerasLocal;">-->
            <table mat-table [dataSource]="cameraService.availableIpCameras" class="mat-elevation-z0"
                   id="localCamerasTable">
                <ng-container matColumnDef="URL">
                    <th mat-header-cell *matHeaderCellDef id="tableHeader"> Available cameras</th>
                    <td mat-cell *matCellDef="let device" id="tableData"> {{device.rtspUri}}
                        <span class="material-icons" [cdkCopyToClipboard]="device.rtspUri"
                              aria-label="Copy to clipboard" id="copyButton"
                              (click)="this.alertService.success('URL copied to clipboard', this.options)"> content_copy </span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <!--                </div>-->
        </div>
    </div>
    <div class="configuration-box new-camera" id="addCameras">
        <h4>Add cameras</h4>
        <mat-slide-toggle [(ngModel)]="isChecked" title="Set a new camera for PTZ functions">
            Add camera with PTZ function
        </mat-slide-toggle>
        <ng-container *ngIf="isChecked; else noPTZ" id="ptzForm" class="configuration-box new-camera">
            <mat-form-field>
                <mat-label>Custom camera name</mat-label>
                <input matInput type="text" [(ngModel)]="cameraName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Camera URL</mat-label>
                <input matInput type="text" [(ngModel)]="cameraUrl">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Camera IP</mat-label>
                <input matInput type="text" [(ngModel)]="cameraIp">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Port</mat-label>
                <input matInput type="text" [(ngModel)]="cameraPort">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Camera user</mat-label>
                <input matInput type="text" [(ngModel)]="cameraUser">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Camera password</mat-label>
                <input matInput type="password" [(ngModel)]="cameraPassword">
            </mat-form-field>
            <button class="btn btn-lg btn-success" (click)="cameraService.publishIpCamera(sessionId,
            cameraUrl,cameraName,true,
            true, cameraIp, cameraPort, cameraUser, cameraPassword)">Add selected camera
            </button>
            <button (click)="cameraService.publishDemoCameras(sessionId)"
                    class="btn btn-lg btn-success demoCamera-button">
                Add demo cameras
            </button>
        </ng-container>
        <ng-template #noPTZ>
            <mat-form-field>
                <mat-label>Custom camera name</mat-label>
                <input matInput type="text" [(ngModel)]="cameraName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Camera URL</mat-label>
                <input matInput type="text" [(ngModel)]="cameraUrl">
            </mat-form-field>
            <button class="btn btn-lg btn-success" (click)="cameraService.publishIpCamera(sessionId,
            cameraUrl,cameraName,true,
            true)">Add selected camera
            </button>
            <button (click)="cameraService.publishDemoCameras(sessionId)"
                    class="btn btn-lg btn-success demoCamera-button">
                Add demo cameras
            </button>
        </ng-template>
    </div>
    <div class="configuration-box" id="deleteCameras">
        <h4>Delete cameras</h4>
        <div *ngIf="subscribers.length>0; else noCameras">
            <mat-form-field>
                <mat-label>Select an option</mat-label>
                <mat-select [(value)]="cameraToDelete">
                    <mat-option *ngFor="let subscriber of subscribers" [value]="subscriber.stream.connection.data">
                        {{subscriber.stream.connection.data}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <br>
        <ng-template #noCameras>
            <p> No cameras available at this moment </p>
        </ng-template>
        <ng-template #noCamerasLocal>
            <div class="noCamerasTemplate" *ngIf="!loading; else loadingGif">
                <p> No cameras available at this moment </p>
                <button class="btn btn-lg btn-success" id="discover-button"
                        (click)="(this.cameraService.discoverCameras(this.sessionId));loading=true">Discover local
                    cameras
                </button>
            </div>
        </ng-template>
        <ng-template #loadingGif>
            <img src="assets/gifs/Spinner-loadingLocal-S.gif" id="load-local-gif" alt="The camera is loading">
            <button class="btn btn-lg btn-cancel"
                    (click)="loading=false">Stop discovering
                cameras
            </button>
        </ng-template>
        <div *ngIf="cameraToDelete">
            <button class="btn btn-lg btn-success" (click)="deleteDialogDisplay()">Delete selected camera</button>
        </div>
    </div>
</div>

